<li>
  <img
    class="cart--item-icon"
    src="assets/icons/001-beetroot.svg"
    alt="beetroot"
  />
  <p>beetroot</p>
  <button class="quantity-btn remove-btn center">-</button>
  <span class="quantity-text center">1</span>
  <button class="quantity-btn add-btn center">+</button>
</li>
<li>
  <img
    class="cart--item-icon"
    src="/assets/icons/dragon-fruit.png"
    alt="dragon-fruit"
  />
  <p>dragon-fruit</p>
  <button class="quantity-btn remove-btn center">-</button>
  <span class="quantity-text center">1</span>
  <button class="quantity-btn add-btn center">+</button>
</li>
<li>
  <img
    class="cart--item-icon"
    src="/assets/icons/melon.png"
    alt="melon"
  />
  <p>melon</p>
  <button class="quantity-btn remove-btn center">-</button>
  <span class="quantity-text center">1</span>
  <button class="quantity-btn add-btn center">+</button>
</li>
<li>
  <img
    class="cart--item-icon"
    src="/assets/icons/passion-fruit.png"
    alt="passion-fruit"
  />
  <p>passion-fruit</p>
  <button class="quantity-btn remove-btn center">-</button>
  <span class="quantity-text center">1</span>
  <button class="quantity-btn add-btn center">+</button>
</li>
<li>
  <img
    class="cart--item-icon"
    src="/assets/icons/watermelon.png"
    alt="watermelon"
  />
  <p>watermelon</p>
  <button class="quantity-btn remove-btn center">-</button>
  <span class="quantity-text center">1</span>
  <button class="quantity-btn add-btn center">+</button>
</li>