<li>
  <img
    class="cart--item-icon"
    src="assets/icons/001-beetroot.svg"
    alt="beetroot"
  />
  <p>beetroot</p>
  <button class="quantity-btn remove-btn center">-</button>
  <span class="quantity-text center">1</span>
  <button class="quantity-btn add-btn center">+</button>
</li>

<!-- itemList.addEventListener("click", (event) => createBasket(event)); function
createShop() { svgList.forEach((el, index) => { let fruit = svgList[index]; let
item = `
<li>
  <div class="store--item-icon">
    <img src="assets/icons/${fruit}.svg" alt="${fruit.slice(4)}" />
  </div>
  <button id="${fruit}">Add to cart</button>
</li>
`; itemList.insertAdjacentHTML("beforeend", item); }); } createShop(); function
createBasket(event) { const fruit = event.target.id; console.log(fruit); let
cartItem = `
<li>
  <img class="cart--item-icon" src="assets/icons/${fruit}.svg" alt="${fruit}" />
  <p>${fruit}</p>
  <button class="quantity-btn remove-btn center">-</button>
  <span class="quantity-text center">1</span>
  <button class="quantity-btn add-btn center">+</button>
</li>
`; cartList.insertAdjacentHTML("beforeend", cartItem); } -->
