<li>
  <div class="store--item-icon">
    <img src="assets/icons/001-beetroot.svg" alt="beetroot" />
  </div>
  <button>Add to cart</button>
</li>
<li>
  <div class="store--item-icon">
    <img src="/assets/icons/dragon-fruit.png" alt="dragon-fruit" />
  </div>
  <button>Add to cart</button>
</li>
<li>
  <div class="store--item-icon">
    <img src="/assets/icons/melon.png" alt="melon" />
  </div>
  <button>Add to cart</button>
</li>
<li>
  <div class="store--item-icon">
    <img src="/assets/icons/passion-fruit.png" alt="passion-fruit" />
  </div>
  <button>Add to cart</button>
</li>
<li>
  <div class="store--item-icon">
    <img src="/assets/icons/watermelon.png" alt="watermelon" />
  </div>
  <button>Add to cart</button>
</li>

